{% extends "quotes/base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div>
    <h2>Login</h2>
</div>
<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-xs-3">
            <label>Username: <br>
                {{ form.username }}
            </label>
            <span>{{ form.errors.username }}</span>
        </div>
    </div>
    <div class="row pt-3 mb-3">
        <div class="form-group col-xs-3">
            <label>Password: <br>
                {{ form.password }}
            </label>
            <span>{{ form.errors.password }}</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

</form>

{% endblock %}